<div class="card" style="width: 80%;">
    <div class="card-body">
      <h5 class="card-title">Account Detail</h5>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">Account ID:</th>
            <td>{{account.accountId}}</td>
          </tr>
          <tr>
            <th scope="row">Name:</th>
            <td>{{person.name}}</td>
          </tr>
          <tr>
            <th scope="row">Email:</th>
            <td>{{account.email}}</td>
          </tr>
          <tr>
            <th scope="row">Date of Birth:</th>
            <td>{{person.dob}}</td>
          </tr>
          <tr>
            <th scope="row">Gender:</th>
            <td>{{person.gender}}</td>
          </tr>
          <tr>
            <th scope="row">Contact No:</th>
            <td>{{person.phone}}</td>
          </tr>
          <tr>
            <th scope="row">Subscription Date:</th>
            <td>{{person.subscriptionDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
