

<section class="slider">
    <div id="carouselExampleControls" class="c1 slider carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card1 card bg-dark text-white">
                <img class="image1 card-img" src="../../assets/images/IMG-1.png" alt="First slide " style="height:500px;">
                <div class="card-img-overlay">
                  <h1 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><i>Without Libraries...</i> </h1><br><br>
                  <h3 class="card-text" style="font-family: cursive">we have no past and no future... </h3>
                </div>
              </div>
              </div>
            <div class="carousel-item">
              <div class="card1 card bg-dark text-white">
                <img class="image1 card-img" src="../../assets/images/bookm1.jpeg" alt="Second slide" style="height:500px;">
                <div class="card-img-overlay">
                  <h1 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><i>That's the thing about books they let you travel without</i> </h1><br><br>
                  <h3 class="card-text" style="font-family: cursive">moving your feet.... </h3>
                </div>
              </div>
              </div>
            <div class="carousel-item">
              <div class="card1 card bg-dark text-white">
                <img class="image1 card-img" src="../../assets/images/m4.jpg" alt=" slide" style="height:500px;">
                <div class="card-img-overlay">
                  <h1 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><i>A home without books...</i> </h1><br><br>
                  <h3 class="card-text" style="font-family: cursive">is like a tree without birds... </h3>
                </div>
              </div>
              </div>
        </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
        </section>
   